@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes panLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

@keyframes panRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

.zoom-in {
  animation: zoomIn 1s ease-in-out forwards;
}

.zoom-out {
  animation: zoomOut 1s ease-in-out forwards;
}

.pan-left {
  animation: panLeft 1s ease-in-out forwards;
}

.pan-right {
  animation: panRight 1s ease-in-out forwards;
}

/* .carousel-container {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
} */
.carousel-item img {
  max-height: 400px;
  object-fit: contain;
}
.carousel-item video {
  max-height: 400px;
  object-fit: contain;
}

.audio-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.audio-carousel-item audio {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .carousel-item img,
  .carousel-item video {
    object-fit: cover;
    height: 12rem;
  }
}
