.Topic-card {
  margin-bottom: 1rem;
  margin-top: 2rem;
  max-width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  text-align: start;
}

.Topic-card-img {
  align-self: auto;
  max-height: 12rem;
  min-height: 12rem;
  object-fit: cover;
  cursor: pointer;
  text-align: start;
}

/* If desktop display flex columns  */
@media only screen and (min-width: 1024px) {
  .Topic-list-container-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .Topic-card-main {
    flex: 1 1 calc(33.333% - 10px);
  }
}

.Topic-card-sidebar {
  width: 20rem;
  flex-basis: auto;
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.Topic-list-container-main {
  justify-content: center;
}

.Topic-list-container-sidebar {
  display: block !important;
}

/* Scrollbar handle on hover */
.Topic-list-container:active::-webkit-scrollbar-thumb,
.Topic-list-container:focus::-webkit-scrollbar-thumb,
.Topic-list-container:hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
  background: #888 !important;
}

.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.98);
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.Topic-card {
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 16px;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
  cursor: pointer;
  overflow: hidden;
}

.Topic-card:hover {
  background: rgba(231, 247, 255, 0.938);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  transform: scale(1.015);
}

.Topic-card:hover .card-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    60deg,
    transparent,
    rgba(255, 255, 255, 0.308),
    transparent
  );
  animation: shine 0.8s ease-in-out forwards;
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

.Topic-delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(119, 136, 153, 0.9);
  border: none;
  border-radius: 50%;
  padding: 4px 6px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  z-index: 10;
  line-height: normal;
  width: 2rem;
  height: 2rem;
}

.Topic-delete-btn:hover {
  /* background: rgba(220, 53, 69, 0.9); Bootstrap red */
  background: rgba(47, 79, 79, 0.8);
  color: white;
  transform: scale(1.1);
}
