.wallet-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.wallet-selection-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.wallet-option {
  padding: 0.75rem;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  flex: 1;
  max-width: 130px;
  background-color: #1e1e1e;
  transition: border 0.3s, background-color 0.3s;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  position: relative;
}

.wallet-option:hover {
  border-color: #888;
  background-color: #2a2a2a;
}

.wallet-option.active {
  border-color: #00aaff;
  background-color: #2b3f4f;
}

.wallet-icon {
  height: 40px;
  margin-bottom: 0.5rem;
}

.wallet-name {
  font-weight: bold;
  text-transform: capitalize;
  color: whitesmoke;
}

.wallet-balance {
  font-size: 0.85rem;
  color: #ccc;
}

.no-wallet-message {
  text-align: center;
  font-family: monospace;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.wallet-user-icon {
  position: absolute;
  top: 6px;
  right: 8px;
  color: white;
  font-size: 0.85rem;
  opacity: 0.8;
}

.wallet-loading-container {
  justify-content: center;
  display: flex;
}

.wallet-error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

.wallet-info {
  text-align: center;
  font-size: small;
}
