.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  /* width: 87vw; */
  height: 37vh;
  object-fit: cover;
}

.App-drop {
  display: inline-table;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-drop-item {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Anton";
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
