.Landing {
  text-align: center;
}

.Landing-logo {
  pointer-events: none;
  /* width: 87vw; */
  height: 37vh;
  object-fit: cover;
}

.Landing-drop {
  display: inline-table;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Landing-drop-item {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: Landing-logo-spin infinite 20s ease-in-out;
  }
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Anton";
  color: white;
}

.Landing-link {
  color: #61dafb;
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%)
    lightslategrey;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  margin-left: 10px;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}
