.Landing {
  text-align: center;
}

.Landing-logo {
  pointer-events: none;
  /* width: 87vw; */
  height: 37vh;
  object-fit: cover;
}

.Landing-drop {
  display: inline-table;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Landing-drop-item {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: Landing-logo-spin infinite 20s ease-in-out;
  }
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Anton";
  color: white;
}

.Landing-link {
  color: #61dafb;
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #000;
  box-sizing: border-box;
  background: radial-gradient(farthest-side, #fff 98%, #0000) top,
    radial-gradient(farthest-side, #fff 98%, #0000) top,
    radial-gradient(farthest-side, #fff 98%, #0000) left,
    radial-gradient(farthest-side, #fff 98%, #0000) right,
    radial-gradient(farthest-side, #fff 98%, #0000) bottom, #000;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l19 2s infinite;
}
@keyframes l19 {
  0% {
    background-position: top, top, left, right, bottom;
  }
  25% {
    background-position: right, top, left, right, bottom;
  }
  50% {
    background-position: bottom, top, left, right, bottom;
  }
  75% {
    background-position: left, top, left, right, bottom;
  }
  100% {
    background-position: top, top, left, right, bottom;
  }
}
