.Landing {
  text-align: center;
}

.Landing-logo {
  pointer-events: none;
  padding: 3vh;
  height: 28vh;
  object-fit: cover;
}

.Landing-logo-static {
  pointer-events: none;
  padding: 3vh;
  height: 28vh;
  object-fit: cover;
}

.Landing-drop {
  display: inline-table;
  cursor: pointer;
  width: 100%;
  padding-bottom: 1rem;
}

.Landing-drop-message {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: monospace;
  font-size: medium;
}

.Landing-drop-item {
  text-decoration: underline;
  display: inline-flex;
  /* align-items: center; */
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: Landing-logo-spin infinite 20s ease-in-out;
  }
}

.Landing-header-top {
  top: 25%;
  position: relative;
}

.Landing-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  font-family: "Anton";
  color: white;
  padding: 5%;
}

.Landing-link {
  color: #61dafb;
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.done:before {
  content: "\2713";
  display: inline-block;
  color: rgb(204, 204, 204);
  padding: 0 6px 0 0;
  margin-left: 10px;
}

.loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%)
    lightslategrey;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  margin-left: 10px;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}

.Landing-input-group {
  margin-top: 1rem;
}

.Landing-input {
  width: 100%;
  padding-top: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  font-family: monospace;
}

.Landing-input-url {
  width: 100%;
  padding-top: 1rem;
}

.Landing-url-card {
  font-size: 12px;
  font-family: monospace;
  width: 15rem;
  text-align: left;
  margin: 1rem;
  cursor: pointer;
}

.Landing-url-card-img {
  width: fit-content !important;
  max-height: 15vh;
  align-self: center;
  max-width: 100%;
}

.Landing-url-card-button {
  font-size: 12px !important;
}

.Landing-url-card-title {
  font-size: 12px !important;
  font-weight: bold !important;
}

.Landing-url-card-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

#input-url-button {
  font-family: monospace;
  font-size: small;
}

#input-url-label {
  background-color: #343a40;
  font-family: monospace;
  color: #bdbdbd;
  font-size: small;
}

#input-url-text {
  font-family: monospace;
  font-size: medium;
}

#input-url-help-msg {
  color: red !important;
  font-family: monospace;
  font-size: small;
  display: flex;
}

#landing-input-or-label {
  padding-top: 1rem;
  color: white !important;
  font-family: monospace;
  font-size: large;
}

#input-context {
  resize: none;
  background-color: #37474fff;
  color: #bdbdbd;
  border-color: cadetblue;
}
#input-context::placeholder {
  color: #6e6e6e;
}

#input-process-button {
  margin-top: 15px;
  font-family: monospace;
}

#navbar-user-dropdown-container {
  display: contents;
  vertical-align: middle;
}
