/* If desktop display flex columns  */
@media only screen and (min-width: 1024px) {
  .Sidebar-left-column {
    order: 0 !important;
    width: 20%;
    top: 0;
    position: absolute;
    left: 0;
  }
}

.Sidebar-topics-title {
  font-family: monospace;
  color: #bdbdbd;
  font-size: xx-large;
  padding-bottom: 0 !important;
}

.Sidebar-navigation-bar,
.offcanvas {
  background-color: #343a40;
  font-family: monospace;
  color: #bdbdbd;
  font-size: small;
}

.Sidebar-left-column {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  max-height: 100vh;
  min-height: 100vh;
  order: 1;
}

/* Scrollbar handle on hover */
.Sidebar-left-column:active::-webkit-scrollbar-thumb,
.Sidebar-left-column:focus::-webkit-scrollbar-thumb,
.Sidebar-left-column:hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
  background: #888 !important;
}

.menu-item {
  color: #bdbdbd;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.menu-item:hover,
.menu-item.active {
  background-color: #495057;
  color: #ffffff;
}

.Sidebar-topics-title {
  padding: 1rem;
  font-size: large;
  color: #ffffff;
}

.Sidebar-toggle-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: #343a40;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  z-index: 1200;
  display: inline-block;
}
.Sidebar-toggle-btn:hover {
  color: lightseagreen;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .Sidebar-toggle-btn {
    display: none;
  }
}
