.Breakdown-body {
  background-color: #282c34;
  margin: auto;
  color: #fff;
  display: grid !important;
  place-items: center;
  flex-direction: row;
  font-family: Anton;
  min-height: 100vh;
  margin-left: auto;
  overflow-wrap: anywhere;
  justify-content: space-evenly;
  position: relative;
  overflow-y: scroll;
}

/* If desktop display flex columns  */
@media only screen and (min-width: 1024px) {
  .Breakdown-body {
    display: flex !important;
    max-height: 100vh !important;
  }
  .Breakdown-left-column {
    order: 0 !important;
  }
  .Breakdown-middle-column {
    order: 1 !important;
  }
  .Breakdown-right-column {
    order: 2 !important;
  }
}

.Breakdown-left-column {
  order: 1;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  min-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  max-height: inherit;
}

/* Scrollbar handle on hover */
.Breakdown-left-column:active::-webkit-scrollbar-thumb,
.Breakdown-left-column:focus::-webkit-scrollbar-thumb,
.Breakdown-left-column:hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
  background: #888 !important;
}

.Breakdown-middle-column {
  order: 0;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
}

/* Scrollbar handle on hover */
.Breakdown-middle-column:active::-webkit-scrollbar-thumb,
.Breakdown-middle-column:focus::-webkit-scrollbar-thumb,
.Breakdown-middle-column:hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
  background: #888 !important;
}

.Breakdown-right-column {
  order: 2;
  display: flex;
  flex-direction: column;
}

.Breakdown-topic-container {
  max-width: 45rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 2rem;
  flex-direction: column;
}

.Breakdown-content-container {
  display: block;
  margin: 3rem auto 3rem;
  max-height: 40vh;
  max-width: 80vw;
  width: auto;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Breakdown-content-tag-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.Breakdown-audio-container {
  display: block;
  margin: 4rem auto 4rem;
  max-width: 100%;
}

.Breakdown-topic-title {
  margin-bottom: 2rem;
}

.Breakdown-topic-claims {
  cursor: pointer;
}

.Breakdown-topic-claims-body {
  display: inline-flex;
  flex-direction: column;
}

.Breakdown-topic-claims-toolbar {
  display: flex;
}

.Breakdown-topic-claims-button {
  background-color: #282c34;
  border-color: black;
}

.Breakdown-topic-claims-tag {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%)
    lightslategrey;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  margin-left: 10px;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}

.Breakdown-loading {
  pointer-events: none;
  padding: 3vh;
  height: 28vh;
}

@media (prefers-reduced-motion: no-preference) {
  .Breakdown-loading {
    animation: Breakdown-loading-spin infinite 10s ease-in-out;
  }
}

@keyframes Breakdown-loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  visibility: hidden;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #888;
  visibility: visible;
} */
