.Breakdown-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Anton";
  color: white;
  padding-top: 5%;
}

.Breakdown-topic-container {
  max-width: 45rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.Breakdown-content-container {
  display: block;
  max-height: 30vh;
  margin: 1rem auto 2rem;
  width: auto;
  max-width: 100%;
}

.Breakdown-audio-container {
  display: block;
  margin: 4rem auto 4rem;
  max-width: 100%;
}

.Breakdown-topic-title {
  margin-bottom: 2rem;
}

.loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%)
    lightslategrey;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  margin-left: 10px;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}

.Breakdown-loading {
  pointer-events: none;
  padding: 3vh;
  height: 28vh;
}

@media (prefers-reduced-motion: no-preference) {
  .Breakdown-loading {
    animation: Breakdown-loading-spin infinite 10s ease-in-out;
  }
}

@keyframes Breakdown-loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
